beautifulsoup4==4.6.3
country-converter==0.6.7
dash==1.4.0
dash-auth==1.3.2
dash-core-components==1.3.0
dash-daq==0.2.2
dash-html-components==1.0.1
dash-renderer==1.1.1
dash-table==4.4.0
dj-config-url==0.1.1
Django==2.2.18
djangorestframework==3.11.2
entrypoints==0.3
findspark==1.3.0
flake8==3.5.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Dance==3.0.0
Flask-SeaSurf==0.2.2
gunicorn==19.8.1
lxml==4.6.3
matplotlib==3.1.1
numpy==1.22.0
pandas==0.25.0
plotly==4.1.1
pycountry==19.8.18
python-dateutil==2.8.0
python-memcached==1.59
regex==2020.1.8
requests==2.20.0
requests-cache==0.4.13
requests-oauthlib==1.0.0
seaborn==0.9.0
simplejson==3.16.0
urllib3==1.24.2
Werkzeug==0.16.0
